*{
    margin:0;
    padding:0;
}
.navbar{
    display: flex;
    height:50;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}
.logo{
    width:20%;
    height:10%;
    display:flex;
    align-items: center;
}
.nav-list{
    width: 90%;
    display:flex;
    align-items:center;


}
.nav-list li{
    list-style: none;
    justify-content: center;
    align-items: center;
    padding: 23px 30px;
    font-family: 'Confortaa', cursive;

}

.nav-list li a{
    text-decoration: none;
    color: #263952;

}
.nav-list li a:hover{
    text-decoration: none;
    color:black;
    font-size: 18px;
}
.rightnav{
    width:50%;
    text-align: right;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 25px;
}
#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid #dcafac;
    border-radius: 10px;
    width: 50%;
}

.background{
    background: #f2f8f8 ;
    background-size: cover;
    background-blend-mode:darken;
    backdrop-filter: 10px;
}

.firsthalf{
    height:100vh;
}
.text{
    font-family: 'Confortaa', cursive;
}
.boxmain{
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    font-family: 'Confortaa', cursive;
    margin: auto;
    height: 80%;
}
.firsthalf{
    margin: 5px 5px;
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}
.secondhalf{
    width:50%;
    padding: 20px 50px;
    align-items: center;
    justify-content: center;
}
.secondhalf img{
    width: 70%;
    height:100%;
    padding:20px 50px;
    border-radius: 50%;


}
.textbig{
    font-size: 50px;
}
.textsmall{
    font-size: 25px;
}
.btn{
    
    padding:8px 20px;
    margin: 7px 5px;
    border: 2px solid #dcafac;
    border-radius: 8px;
    font-size: 18px;
    background: none;
    backdrop-filter: 25px;
    cursor: pointer;

}
.btn-sm{
    padding: 3px 10px;
    vertical-align: middle;
}
.orders{
    display:flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    background-color: #ffff;

}
.text{
    align-items: center;
    justify-content: center;
    width: 90%;
    font-size: 25px;
}

.orders .item{
    padding: 30px 10px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color:#ffff ;
    width: 90%;
}


.orders img{
    border-radius: 25%;
    width: 95%;
    padding: 10px 10px;
    background-color: #000;
}
.orders .item .subitem{
    padding: 15px;
    
}
.olrders.item.buttons button{
    align-items: center;
}
 .butttons   {
    align-items: center;
    padding :25px 650px;
}

.item.text p{
    font-size: medium;
}
.count{
    background-color: #dcafac;
    color: black;
    font-family:   'Confortaa', cursive;
    display: flex;
    align-items: center;
    justify-items:center;
    height: 50vh;
    overflow: hidden;
    margin: 0;
}
.counter-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 30px 50px;
}
.counter{
    font-size: 60px;
    margin-top: 10px;
}
@media(max-width:580px){
    .count{
        flex-direction: column;
          }

    }

.foots{
    display: flex;
    background-color: #eeeae7;
    padding: 90px 20px;


}
foots.info {
    flex-direction: column;
}
.foots img{
    width: 25%;
    align-items: center;
    
}
.support li 
{
    list-style: none;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    font-family: 'Confortaa', cursive;
     display: flex;
}
.support li a{
    text-decoration: none;
    color:black;
}
.foots.social-menu ul{
    position:relative;
    top:50%;
    left:50%;
    padding:10px 20px;
    margin:0;
    transform:translate(-50%,-50%);
    
}
.social-menu ul li{
    list-style: none;
    margin:0 20px;
    padding: 10px 10px;
}
.social-menu ul li.fa:hover{
    color:none;
}
.social-menu ul li .fa{
    font-size: 30px;
    line-height: 60px;
    transition:.6s;
    color:#000;
}
.social-menu ul li a{
    position: relative;
    display:block;
    width:60px;
    height:60px;
    border-radius:20%;
    background-color: ivory;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0,0,0,1);
}
.social-menu ul li a:hover{
    transform:translate(0,-10px);
}
.social-menu ul li:nth-child(1) a:hover{
    background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover{
    background-color: #e4405f;
}
.social-menu ul li:nth-child(3) a:hover{
    background-color: #55acee;
}
.social-menu ul li:nth-child(4) a:hover{
    background-color: #0077B5;
}
.social-menu ul li:nth-child(5) a:hover{
    background-color: #b50000;
}
.social-menu ul li:nth-child(6) a:hover{
    background-color: crimson;
}
.foot p{
    flex-direction: column;
    
}
   
